name: Dockerized Service
on: [push]
jobs:
  build_and_deploy_docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:app"
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/dockerized-service:${{ github.sha }}
  run_container:
    runs-on: ubuntu-latest
    steps: 
      - run: docker run --name mycontainer -d ${{ secrets.DOCKERHUB_USERNAME }}/dockerized-service:latest